<h1>User Profile</h1>

{{#if errorMessage}}
  <div class="alert alert-danger">
    ERROR: {{errorMessage}}
  </div>
{{/if}}

{{#if viewingUser}}
  {{!-- Render the profile of a different user --}}
  <p>
    Username: {{theirUsername}}
    <br/>
    Role: {{theirRole}}
  </p>
{{else}}
  {{!-- Else, render own user profile --}}
  <p>
    Username: {{user.username}}
    <br/>
    Role: {{user.role}}
  </p>
{{/if}}


{{#if bossButtons}}
  <ul>
    <li><a href="/user/admin/register">Register new users</a></li>
    <li><a href="/user/admin/roles">Edit user roles</a></li>
    <li><a href="/user/admin/remove">Remove users</a></li>
  </ul>
{{/if}}